#deliveryCard .card-title{
  text-align: center;
}

#qualityCard .card-title{
  text-align: center;
}

#costCard .card-title{
  text-align: center;
}

#designReworkCard .card-title{
  text-align: center;
}

#designReworkChart {
  height: 300px;
}

#designDistributionCard .card-title{
  text-align: center;
}

#designDistributionChart {
  height: 300px;
}