/* {
  border: 1px dashed black;
} */
.landing-page {
  height: 95vh;
  
}

#product-page-content {
  padding: 0; 
} 

#product-page-content .landing-page{
  padding: 96px 42px 42px 48px;
} 

#product-page-content .landing-page .section1-content h1{
  margin-top: 0;
  font-size: 64px;
  color: #000;
} 

#product-page-content .landing-page .section1-content .sub-description{
  font-size: 18px;
} 

#product-page-content .landing-page .section1-content .section1-btns{
  margin: 36px 0px 24px;
}

#product-page-content .landing-page .section1-content .section1-btns a {
  margin: 12px 0px 12px;
}

#product-page-content .landing-page .section2-content .section2-btns{
  margin: 36px 0px 24px;
}

#product-page-content .landing-page .section2-content .section2-btns a {
  margin: 12px 0px 12px;
}

#product-page-content .landing-page .section3-content .section3-btns{
  margin: 36px 0px 24px;
}

#product-page-content .landing-page .section3-content .section3-btns a {
  margin: 12px 0px 12px;
}

#section-1 {
  background-image: url('/public/images/landingpage-bg1-2.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: top left;
}

