<div class="content-container">
    <div class="content-area" id="product-page-content">
        <section class="landing-page" id="section-1">
            <div class="section1-content">
            <h1>Be Your Own Consultant</h1>
            <p class="sub-description">
                Describe your processes, visualise their performance and optimise your workflows.
            </p>
            <div class="section1-btn">
                <div>
                    <a class="btn btn-primary" routerLink="/signup" routerLinkActive="active">Create An Account</a>
                </div>
                <div>
                    <a class="btn btn-primary" routerLink="/insight360" routerLinkActive="active">Try the Demo</a>
                </div>
            </div>
            </div>
        </section>
        <!-- page 2 -->
        <section class="landing-page" id="section-2">
            <div class="section2-content">
            <h1>Run Your Information Industry Like a Factory</h1>
            <p class="sub-description">
                Simply state your review gates and add tags to each process step. Insight360 works out the rest.
            </p>
            <div class="section2-btn">
                <div>
                    <a class="btn btn-primary" routerLink="/insight360" routerLinkActive="active">Try the Demo</a>
                </div>
            </div>
            </div>
        </section>
        <section class="landing-page" id="section-3">
            <div class="section3-content">
            <h1>Optimised For Mobile Working</h1>
            <p class="sub-description">
                Access Insight360 from your tablet as well as laptops.
            </p>
            <div class="section3-btn">
                <div>
                    <a class="btn btn-primary" routerLink="/insight360" routerLinkActive="active">Try the Demo</a>
                </div>
            </div>
            </div>
        </section>
    </div>
</div>