<div class="content-container">
    <div class="content-area" id="product-page-content">
        <section class="landing-page" id="section-1">
            <div class="section1-content">
            <h1>Understand Your Design Factory</h1>
            <p class="sub-description">
                Describe your process, visualise its performance and optimise your workflow.
            </p>
            <div class="section1-btn">
                <a class="btn btn-primary" routerLink="/signup" routerLinkActive="active">Create An Account</a>
            </div>
            </div>
        </section>
        <!-- page 2 -->
        <section class="landing-page" id="section-2">
            <div class="section2-content">
            <h1>Run Your Information Industry Like a Factory</h1>
            <p class="sub-description">
                Bla-Bla.
            </p>
            <div class="section2-btn">
                <a class="btn btn-primary" routerLink="/signup" routerLinkActive="active">
                    Create An Account</a>
            </div>
            </div>
        </section>
    </div>
</div>