<clr-datagrid [(clrDgSelected)]="selected">

  <clr-dg-action-bar>
      <div class="btn-group">
          <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()"><clr-icon shape="plus"></clr-icon> Add
              to group</button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()" ><clr-icon shape="close"></clr-icon> Delete</button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="selected.length == 1"><clr-icon shape="pencil"></clr-icon> Edit</button>
      </div>
  </clr-dg-action-bar>

  <clr-dg-column [clrDgField]="'id'">ID</clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'creator'">Creator</clr-dg-column>
  <clr-dg-column [clrDgField]="'briefDescription'">Brief Description</clr-dg-column>

  <clr-dg-row *clrDgItems="let design of designs" [clrDgItem]="design">
        <clr-dg-cell>{{design.id}}</clr-dg-cell>
        <clr-dg-cell>{{design.name}}</clr-dg-cell>
        <clr-dg-cell>{{design.creator}}</clr-dg-cell>
        <clr-dg-cell>{{design.briefDescription}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} designs
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>