<div class="content-container" id="insight360">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
  <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="./userprofile" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        Jill Bloggs
      </a>
      <a clrVerticalNavLink routerLink="./dashboard" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="analytics"></clr-icon>
        Dashboard
      </a>
      <a clrVerticalNavLink routerLink="./audit" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
        Audit
      </a>
      <a clrVerticalNavLink routerLink="./create" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="design"></clr-icon>
        Create
      </a>
      <a clrVerticalNavLink routerLink="./admin" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
        Admin
      </a>
  </clr-vertical-nav>
</div>