* {
  border: 1px dashed black;
}
.landing-page {
  height: 95vh;
}

.height-half {
  height: 40%;
}

#section-1 {
  background-image: url('/public/images/landingpage-bg1.jpg');
  background-repeat: no-repeat;
}