<div class="login-wrapper login-area">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Insight360
            <h5 class="hint">Use your Company ID to sign in or create one now</h5>
        </label>
        <div class="login-group">
            <input class="username" type="text" id="login_username" placeholder="Username/Email Address">
            <input class="password" type="password" id="login_password" placeholder="Password">
            <input class="password company_id" type="password" id="login_company_id" placeholder="Company ID">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <div class="error">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary">NEXT</button>
            <a href="signup" class="signup">Create an account and/or Company ID</a>
            <a href="javascript://" class="signup">Forgot Password?</a>
        </div>
    </form>
</div>
