<!DOCTYPE html>
<html>
  <head>
    <title>Insight.io</title>
  
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/stylesheets/clarity-icons.min.css">
    <link rel="stylesheet" href="public/stylesheets/clarity-ui.min.css">
  </head>

  <body>
    <h1>Hi</h1>
    <script type="text/javascript" src="public/javascripts/custom-elements.min.js"></script>
    <script type="text/javascript" src="public/javascripts/clarity-icons.min.js"></script>
  </body>
</html>