<!DOCTYPE html>
<html>
  <head>
    <title>Insight360.io</title>
  
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/stylesheets/clarity-icons.min.css">
    <link rel="stylesheet" href="public/stylesheets/clarity-ui.min.css">
    <link rel="stylesheet" href="public/stylesheets/index-style.css">
    <script type="text/javascript" src="public/javascripts/custom-elements.min.js"></script>
    <script type="text/javascript" src="public/javascripts/clarity-icons.min.js"></script>
  </head>

  <body>
    <div class="main-container">
      <header class="header header-4">
        <div class="branding">
          <a href="#" class="nav-link">
            <clr-icon shape="dashboard" class="is-inverse"></clr-icon>
            <span class="title">Insight360.io</span>
          </a>
        </div>
        <div class="header-actions">
          <a href="login" class="nav-link"><span class="nav-text">Sign In</span></a>
          <a href="signup" class="nav-link"><span class="nav-text">Create An Account</span></a>
        </div>
      </header>
      <div class="content-container" style="overflow-y: hidden">
        <div class="content-area">
          <section class="landing-page" id="section-1">
            <div class="section1-content">
              <h1>Understand Your Design Factory</h1>
              <p class="sub-description">
                Describe your process, visualise its performance and optimise your workflow.
              </p>
              <div class="section1-btn">
                <a class="btn btn-primary" href="signup">Create An Account</a>
              </div>
            </div>
          </section>
          
        </div>
        
      </div>
    </div>
  </body>
</html>