<clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="lg">
    <clr-wizard-title>Create An Account</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page
        clrWizardPagePreventDefault="true"
        (clrWizardPageOnCommit)="onCommit()"
        (clrWizardPageOnCancel)="doCancel()"
        (clrWizardPageOnLoad)="resetFlags()">
        <ng-template clrPageTitle>Find Your Company</ng-template>
        <div class="spinner" *ngIf="loadingFlag">
            Loading...
        </div>
        <div>
            Enter the company assigned email address you would like to use to create your account.
            Press <em>Enter</em> when finished.
        </div>
        <clr-alert *ngIf="companyNotFoundFlag" [clrAlertType]="'alert-item'">
            <div class="alert-item">
                Your company has not registered for an account. Press next if you wish to create one.
            </div>
        </clr-alert>
        <clr-alert *ngIf="companyFoundFlag" [clrAlertType]="'alert-success'">
            <div class="alert-item">
                Great news! Your company has already registered for an account. Press next to continue.
            </div>
        </clr-alert>
        <form #companySearchForm="ngForm" [class.hide]="loadingFlag">
            <section class="form-block">
                <div class="form-group">
                    <label for="companyEmailInput">Company Email</label>
                    <input (keyup.enter)="testForEmailMatch()" type="text" id="companyEmailInput" [(ngModel)]="email" name="email">
                </div>
            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page id="aboutYourCompany">
        <ng-template clrPageTitle>About Your Company</ng-template>
        <form #aboutYourCompanyForm="ngForm">
            <section class="form-block">
                <div class="form-group">
                    <label for="companyName">Name</label>
                    <input type="text" id="companyName" [(ngModel)]="submittedOrganisation.name" name="companyName" required>
                </div>
                <div class="form-group">
                    <label for="companyDescription">Description</label>
                    <textarea type="text" id="companyDescription" [(ngModel)]="submittedOrganisation.description" name="description" required></textarea>
                </div>
            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page id = "aboutYou">
        <ng-template clrPageTitle>About You</ng-template>
        <form #aboutYouForm="ngForm">
            <section class="form-block">
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" [(ngModel)]="submittedAccount.firstName" name="firstName" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" id="lastName" [(ngModel)]="submittedAccount.lastName" name="lastName" required>
                </div>
                <div class="form-group">
                    <label for="organisation">Organisation</label>
                    <input type="text" id="organisation" [(ngModel)]="submittedAccount.organisation" name="userOrganisation" required disabled>
                </div>
                <div class="form-group">
                    <label for="emailAddress">Company Email</label>
                    <input type="text" id="emailAddress" [(ngModel)]="submittedAccount.emailAddress" name="userEmailAddress" required disabled>
                </div>
                <div class="form-group">
                    <label for="companyID">Company ID</label>
                    <input type="text" id="companyID" [(ngModel)]="submittedAccount.companyID" name="userCompanyID" required>
                </div>
                <div class="form-group">
                    <label for="jobTitle">Job Title</label>
                    <input type="text" id="jobTitle" [(ngModel)]="submittedAccount.jobTitle" name="userJobTitle" required>
                </div>
            </section>
        </form>
    </clr-wizard-page>
    <clr-wizard-page id = "reviewAndSubmit">
        <ng-template clrPageTitle>Review & Submit</ng-template>
        ...
    </clr-wizard-page>
</clr-wizard>