<clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="lg">
    <clr-wizard-title>Create An Account</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page
        clrWizardPagePreventDefault="true"
        (clrWizardPageOnCommit)="onCommit()"
        (clrWizardPageOnCancel)="doCancel()">
        <ng-template clrPageTitle>Find Your Company</ng-template>
        <div class="spinner" *ngIf="loadingFlag">
            Loading...
        </div>
        <div>
            Enter the company assigned email address you would like to use to create your account.
        </div>
        <clr-alert *ngIf="companyNotFoundFlag" [clrAlertType]="'alert-item'">
            <div class="alert-item">
                Your company has not registered for an account. Press next if you wish to create one.
            </div>
        </clr-alert>
        <clr-alert *ngIf="companyFoundFlag" [clrAlertType]="'alert-success'">
            <div class="alert-item">
                Great news! Your company has already registered for an account. Press next to continue.
            </div>
        </clr-alert>
        <form #myForm="ngForm" [class.hide]="loadingFlag">
            <section class="form-block">
                <div class="form-group">
                    <label for="companyEmailInput">Company Email</label>
                    <input (keyup.enter)="testForEmailMatch()" (blur)="testForEmailMatch()" type="text" id="companyEmailInput" [(ngModel)]="answer" name="answer">
                </div>
            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page #aboutYourCompany>
        <ng-template clrPageTitle>About Your Company</ng-template>
        ...
    </clr-wizard-page>

    <clr-wizard-page #aboutYou>
        <ng-template clrPageTitle>About You</ng-template>
        ...
    </clr-wizard-page>
</clr-wizard>