<header class="header header-4">
    <div class="branding">
        <a href="#" class="nav-link">
        <clr-icon shape="dashboard" class="is-inverse"></clr-icon>
        <span class="title">Insight360.io</span>
        </a>
    </div>
    <div class="header-actions">
        <a href="login" class="nav-link"><span class="nav-text">Sign In</span></a>
        <a href="signup" class="nav-link"><span class="nav-text">Create An Account</span></a>
    </div>
</header>
<wizard-createaccount></wizard-createaccount>