<clr-main-container>
    <clr-header class="header header-4">
        <div class="branding">
        <a routerLink="" class="nav-link">
            <clr-icon shape="dashboard" class="is-inverse"></clr-icon>
            <span class="title">Insight360.io</span>
        </a>
        </div>
        <div class="header-actions">
            <a routerLink="/login" routerLinkActive="active" class="nav-link"><span class="nav-text">Sign In</span></a>
            <a routerLink="/signup" routerLinkActive="active"  class="nav-link"><span class="nav-text">Create An Account</span></a>
        </div>
    </clr-header>
    <router-outlet></router-outlet>
</clr-main-container>